#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
}
body{
  background-color: #15151C;
  color :#ffffff
}

@media (max-width:575.999999px){
  #root {
    max-width: 280px;
  }
}

@media (min-width:576px) and (max-width:767.999px){
  #root {
    max-width: 500px;
  }
}

@media (min-width:768px) and (max-width:991.9999px){
  #root {
    max-width: 800px;
  }
}